<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>django lvl 2</title>
    <link rel="stylesheet" href="{% static 'css/regis.css' %}"/>
</head>
<body>
<div>
    <h1>Hello there</h1>
    <h2>Here are your acess records:</h2>
    <div class="djangotwo">
        {% if access_records %}
        <table align="center">
            <thead>
                <th><ul>Site Name<ul></th>
                <th>Date Accessed</th>
            </thead>

                {# now we need to insert table rows and the table rows are going to be connected to the actual model,#}
                {# so we need to somehow add in logic here that loops through every row in the access_records.#}
                {% for i in access_records %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.date }}</td>
                </tr>
                {% endfor %}
        </table>
        {% else %}
            <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}

    </div>
</div>
</body>
</html>